<header>
    General Information
</header>
<div class="body">
    <div class="left">
        <div class="inputField">
            <span>First Name</span>
            <div class="info">{{firstName}}</div>
        </div>
        <div class="inputField">
            <span>Last Name</span>
            <div class="info">{{lastName}}</div>
        </div>
        <div class="inputField">
            <span>Gender</span>
            <div class="info">{{gender}}</div>
        </div>
        <div class="inputField">
            <span>Nationality</span>
            <div class="info">{{nationality}}</div>
        </div>
        <div class="inputField">
            <span>ID Card</span>
            <div class="info">{{idCard}}</div>
        </div>
        <div class="inputField">
            <span>Passport</span>
            <div class="info">{{passport}}</div>
        </div>
        <div class="inputField">
            <span>Email</span>
            <div class="info">{{email}}</div>
        </div>
    </div>

    <div class="right">
        <div class="inputField">
            <span>Date of Birth</span>
            <div class="info">{{birth}}</div>
        </div>
        <div class="inputField">
            <span>Mobile Phone</span>
             <div class="info">{{phone}}</div>
        </div>
        <div class="inputField">
            <span>Car Registration</span>
             <div class="info">{{carRegist}}</div>
        </div>
        <div class="inputField">
            <span>Brand</span>
             <div class="info">{{brand}}</div>
        </div>
        <div class="inputField">
            <span>Year</span>
             <div class="info">{{year}}</div>
        </div>
        <div class="inputField">
            <span>Chassi Number</span>
             <div class="info">{{chassiNum}}</div>
        </div>
        <div class="inputField">
            <span>Insurrance Type</span>
             <div class="info">{{insurranceNum}}</div>
        </div>
        <div class="inputField">
            <span>Occupation</span>
             <div class="info">{{occupation}}</div>
        </div>
    </div>
</div>
<footer>
    <button>Cancel</button>
</footer>