<div class="navbar">
    <div class="absolute">
        <img src="../../../assets/car-insurance.png">
        <span>BNKlaim</span>
    </div>
    <div id="list">List insurance</div>
    <div id="contact">Contact Us</div>
    <div id="logout">Logout</div>
</div>
<div class="body">
    <div class="info-box">
        <img src="../../../assets/Harry.jpg">
        <div class="text">
            <span id="name">{{name}}</span>
            <span class="smalltxt" id="insuranceNum">Insurance Number: {{insuranceNum}}</span>
            <span class="smalltxt" id="carInfo">{{carInfo}}</span>
        </div>
        <span id="state">state: {{state}}</span>
    </div>
    <div class="list">
        <div class="without3rd">
            <img src="../../../assets/broken.png" />
            <div class="type">Own damages – collision without third party<br><br>

                The company compensates for damages to the vehicle, including specified additional accessories,
                equipment
                and any fixture during the insurance period caused by collision, overturning or no involved third-party.
                Limits of liability: are equal to the sum insured.</div>
            <button>Claim</button>
        </div>
        <div class="with3rd">
            <img src="../../../assets/car-crash.png" />
            <div class="type">Own damages – collision with third party<br><br>

                The company will compensate for damages to the vehicle including specified additional accessories,
                equipment
                and any fixture during the insurance period caused by the collision with third party.
                Limits of liability: are equal to the sum insured.</div>
            <button>Claim</button>
        </div>
        <div class="flood">
            <img src="../../../assets/flood.png" />
            <div class="type">Natural disaster, including flood<br><br>

                The company will compensate for damages to the vehicle, including specified additional accessories,
                equipment and any fixture during the insurance period caused by covered natural disaster.
                Limits of liability: are equal to the sum insured.</div>
            <button>Claim</button>
        </div>
    </div>
</div>