<div class="navbar">
    <div class="absolute">
        <img src="../../../assets/car-insurance.png">
        <span ><a style="text-decoration: none; color: white;" [routerLink]="['']">BNKlaim</a></span>
        
    </div>  
    <!-- <div id="list">List insurance</div> -->
    <a [routerLink]="['/contact']"  id="contact">Contact Us</a>
    <a [routerLink]="['']" id="logout">Logout</a>
</div>
<div class="body">
    <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Click here to view more information"> -->
        <div [routerLink]="['/info']" class="info-box" data-toggle="tooltip" title="Click here to view more information">
            
            <img src="../../../assets/Harry.jpg">
            <div class="text">
                <span id="name">{{name}}</span>
                <div class="smalltxt" id="insuranceNum">Insurance Number: {{insuranceNum}}</div>
                <div class="smalltxt" id="carInfo">{{carInfo}}</div>
            </div>
            <span id="state">state: {{state}}</span>
            
        </div>
        <!-- </span> -->
    
    <div class="list">
        <div class="without3rd">
            <div class="box">
                <img src="../../../assets/broken.png" />
                <div class="type">Own damages – collision without third party<br><br>

                    The company compensates for damages to the vehicle, including specified additional accessories,
                    equipment
                    and any fixture during the insurance period caused by collision, overturning or no involved
                    third-party.
                    Limits of liability: are equal to the sum insured.</div>
            </div>
            <button [routerLink]="['/owner']">Claim</button>
        </div>
        <div class="with3rd">
            <div class="box">
                <img src="../../../assets/car-crash.png" />
                <div class="type">Own damages – collision with third party<br><br>

                    The company will compensate for damages to the vehicle including specified additional accessories,
                    equipment
                    and any fixture during the insurance period caused by the collision with third party.
                    Limits of liability: are equal to the sum insured.</div>
            </div>
            <button [routerLink]="['/thirdparty']">Claim</button>
        </div>
        <div class="flood">
            <div class="box">
                <img src="../../../assets/flood.png" />
                <div class="type">Natural disaster, including flood<br><br>

                    The company will compensate for damages to the vehicle, including specified additional accessories,
                    equipment and any fixture during the insurance period caused by covered natural disaster.
                    Limits of liability: are equal to the sum insured.</div>
            </div>
            <button [routerLink]="['/owner']">Claim</button>
        </div>
    </div>
</div>