<app-homepage-navbar
  [routes]="[
    { route: '/contact', routeText: 'Contact' },
    { route: '/', routeText: 'Logout' }
  ]"
></app-homepage-navbar>
<div class="body">
  <app-show-info></app-show-info>
  <div class="list">
    <app-list-claim
      *ngFor="let claim of listClaim"
      [imgUrl]="claim.imgUrl"
      [contentHeader]="claim.contentHeader"
      [contentDescription]="claim.contentDescription"
      [onClick]="claim.onClick"
      [route]="claim.route"
    ></app-list-claim>
  </div>
</div>
