.topic {
  display: flex;
  align-items: center;
}

.topic > img {
  height: 100px;
  margin-right: 15px;
}

.content-header {
  font-size: 25px;
  line-height: 25px;
}

.content-description {
  /* word-wrap: break-word; */
}
