div.body{
    background-color:#D1DCEB;
    height: 100vh;
}

.navbar{
    display: grid;
    grid-template-columns: 9fr  1fr 1fr;
    text-align: right;
    font-size: 18px;
}
#login:hover{
    color: whitesmoke;
}
#about-us:hover{
    color: whitesmoke;
}
#contact:hover{
    color: whitesmoke;
}
.short-input{
    width: 245px;
    height: 40px;
    border: unset;
    background: #58595E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    outline: unset;
    padding-left: 20px;
    color: white;
}
.long-input{
    width: 500px;
    height: 40px;
    border: unset;
    background: #58595E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    outline: unset;
    padding-left: 30px;
    color: white;
}
::placeholder{
    color: whitesmoke;
    text-align: center;
 
}
.input-field img{
    height: 50px;
    height: 50px;
}
.input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom:5px dashed #58595E;
    width: fit-content;
    padding-bottom: 15px; 
    margin:auto;
}  
.register{
    text-align: center;
    font-size: 30px;
    font-size: 50px;
    line-height: 100px;
    color:#2e0d70;
    margin:-5px 0px 5px 40px;
}
.btn{
    margin-top: -15px;
}
.btn:hover{
    color: gray;
}
hr{
    position: absolute;
    background: #C4C4C4;
    border: 5px dashed #58595E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 500px;
    margin-top: 430px;
}