<div class="navbar">

    <img src="../../../assets/car-insurance.png">
    <span><a style="text-decoration: none; color: white;" [routerLink]="['']">BNKlaim</a></span>

</div>

<body>

<h1>Representative Office</h1>
    <table class="office-table" width="100%">
        <tbody>
            <tr>
                <td>Telephone Number</td>
                <td>02-222-2222</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>02-222-2222</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>bnk03bnklaim@gmail.com</td>
            </tr>
            <tr>
                <td>Address</td>
                <td><br>BNKlaim Tower<br>
                    No. 9 G Tower Rama 9 10th Floor Rama 9 Road Huay Kwang Bangkok, Thailand 10310
                </td>
            </tr>
        </tbody>
    </table>
</body>