<div class="banner">
  <a [routerLink]="['/login']" class="navLogin">login</a>
  <div>
    <div class="content-header">BNKlaim</div>
    <div class="content-description">
      The best car insurance for safe drivers, high sum insured, real-time claim
      application.
    </div>
    <div class="icon-group">
      <img src="../../../assets/broken.png" alt="broken" />
      <img src="../../../assets/car-crash.png" alt="car crash" />
      <img src="../../../assets/flood.png" alt="flood" />
      <img src="../../../assets/professional.png" alt="professional" />
      <img src="../../../assets/location.png" alt="location" />
    </div>
  </div>
</div>
