.register{
	height: 100vh;
	background-color: rgb(243, 239, 239);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: auto;
}

.frm{
	background: #3b9bb8e0;
	border-radius: 30px;
	width: 500px;
	height: 400px;
	margin: auto;
	}
h1{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	color: #535353;
	padding: 30px 40px 0px 40px;

}
h3{
	color: black;
	padding-bottom: 15px;
}
.otpInputContainer{
	display: flex;
	justify-content: space-evenly;
}
input{
	height: 110px;
	width: 70px;
	border-radius: 10px;
	border: solid lightgrey 3px;
	outline: unset;
	font-size: 50px;
	text-align: center;
	color:#535353;
}
::placeholder{
	color: lightgrey;
}
img{
	position: absolute;
	width: 25px;
	height: 25px;
	margin: 57px 0px 0px 10px;
}
#refresh{
	width: 170px;
	height: 40px;
	left: 604px;	
	background: linear-gradient(0deg, #000000, #000000), #C4C4C4;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border:unset;
	border-radius: 25px;
	color: white;
	padding-left: 20px;
	margin-top: 50px;
}
