<table class="office-table">
  <tbody>
    <tr>
      <td>Telephone Number</td>
      <td>02-222-2222</td>
    </tr>
    <tr>
      <td>Fax</td>
      <td>02-222-2222</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>bnk03bnklaim@gmail.com</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>BNKlaim Tower</td>
    </tr>
    <tr>
      <td></td>
      <td>
        No. 9 G Tower Rama 9 10th Floor Rama 9 Road Huay Kwang Bangkok, Thailand
        10310
      </td>
    </tr>
  </tbody>
</table>
