table {
    border: 2px solid darkgray;
    background-color: #7c9fc0;
    width: 70%;
    line-height: 50px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    margin: 10% 15% 1% 15%;
    font-size: 16px;
}

td{
    padding-left: 30px;
    width: 1%;
}