<div class="body">
    <div class="navbar">
        <div></div>
        <a [routerLink]="['/register']" id="register">Register</a>
        <a [routerLink]="['']" id="about-us">About Us</a>
        <a [routerLink]="['/contact']" id="contact">
            Contact
        </a>
    </div>
    <div class="login">
        <div id="welcome"> Welcome to BNKlaim!</div>
        <img src="../../../assets/car-insurance.png" />
        <form [formGroup]="form">
            <div class="input">
                <em class="fa fa-user"></em>
                <input type="text" id="username" placeholder="Username" formControlName="userName">
                <span id="star" *ngIf="form.get('userName')!.errors?.required">*</span>
            </div>
            <div class="input">
                <i class="fa fa-lock"></i>
                <input type="password" id="password" placeholder="Password" formControlName="password">
                <span id="star" *ngIf="form.get('password')!.errors?.required">*</span>
            </div>
        </form>
        <button (click)="home()" id="loginbtn" [disabled]="!form.valid" >Login</button>
        <div class="under">
            <input type="checkbox" />
            <span id="remember-me">Remember me</span>
            <span id="forgot-password">Forgot password</span>
        </div>

    </div>
    <hr>
    <div class="bottom">
        <a [routerLink]="['/register']">Create Account</a>
    </div>
</div>