div.body {
    background-color: #eef8ff;
    height: 100vh;
}

.login{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
    align-items: center;
}



