<div class="body">
    <div class="navbar">    
        <div></div>    
        <a [routerLink]="['/register']" id="register">Register</a>
        <a id="about-us">About Us</a>
        <a id="contact">Contact</a>
    </div>
    <div class="login">
        <div id="welcome"> Welcome to BNKlaim!</div>
        <img src="../../../assets/car-insurance.png" />

        <div class="input">
            <em class="fa fa-user"></em>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="input">
            <i class="fa fa-lock"></i>
            <input type="text" id="password" placeholder="Password">
        </div>
        <button id="loginbtn">Login</button>
        <div class="under">
            <input type="checkbox" />
            <span id="remember-me">Remember me</span>
            <span id="forgot-password">Forgot password</span>
        </div>

    </div>
    <hr>
    <div class="bottom">
        Create Account
    </div>
</div>